:root {
  --primary: #f4f7f8;
  --secondary: #0a596d;
  --button: #45bc8ed5;
  --text-primary: #17171c;
  --text-secondary: #a3a8a9;
}
body {
  background-color: var(--primary);
}

.row {
  margin: 0.2rem;
}

.card-img-top {
  height: 8rem;
  width: 8rem;
  border-radius: 20%;
}

.btn {
  background-color: var(--button);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-weight: 700;
  border-radius: 10%;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.btn:hover {
  background-color: var(--button);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-weight: 700;
  border-radius: 10%;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.image-card {
  background-color: white;
  border-radius: 5%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 5%;
  padding: 1rem;
}

.report-card {
  background-color: white;
  border-radius: 5%;
  padding-top: 0.8rem;
}

.test-report-card {
  padding: 1rem;
}

.prescriptions-table {
  background-color: white;
  border-radius: 5%;
  padding-top: 1.5rem;
}

.btn-prescriptions {
  width: 100%;
  border: 2px dotted #45bc8ed5;
  background-color: white;
  color: #45bc8ed5;
  font-weight: 800;
  padding: 1rem;
}

.side-bar-main-icon {
  margin-top: 2rem;
  height: 3rem;
  width: 3rem;
  color: #6acda5;
}

.side-bar-icon {
  margin-top: 3rem;
  height: 1.5rem;
  width: 1.5rem;
  color: #f7f7f7;
}

.side-bar {
  background-color: #0b596c;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.heading-1 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.heading-2 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: rgba(0, 0, 0, 0.699);
}
.heading-3 {
  font-size: 1rem;
  font-weight: 600;
  color: #8e9494;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 40%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 60%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 80%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}
